# Set the npm registry and authorize to it using:
#
# <npm_registry_url>:_authToken=${YOUR_TOKEN_ENV_VAR}
# 
# Example:
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN_ENV_HERE}


# Set the scope for the registry/package
#
# <orgname_or_username>:registry=<npm_registry_url>
#
# Example:
# @tbusillo:registry=https://npm.pkg.github.com